*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:white;
    background-color:white;
}

.container{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.calculator{
    border-color: black;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 5px 5px 19px rgb(0, 0, 0.14),inset 5px 5px 10px rgb(249, 249, 249);
   display: grid;
   grid-template-columns: repeat(4,70px);
   background-color:black;
  
}
input{
    grid-column: span 4;
    width: 280px;
    background-color: #000000;
    height: 100px;
    border: none;
    font-weight: normal;
    border-radius:30px ;
    font-size: 50px;
    margin: 40px auto;
    padding: 10px;
    text-align: end;

            }
input::placeholder{
    color: rgb(255, 255, 255);
}
h1{
    text-align: center;
    color: #000000;
    font-size: 40px;
}
button{
    width: 40px;
    height: 40px;
    background-color:rgb(112, 105, 105);
    border-radius: 50%;
    border: none;
    font-size: 15px;
    margin: 8px auto;
    padding: 20px auto;
}
.equlas{
    width: 120px;
    border-radius: 40px;
    margin: 8px 12px;
    background-color:orange;
   
}
.minus{
    background-color:orange;
}
.multi{
    background-color: orange;

}
.division{
    background-color: orange;
}
.plus{
    background-color: orange;
}
.ac{
    background-color: grey;
    color: #000000;
}
.del{
    background-color: grey;
    color: #000000;
}
.module{
    background-color: grey;
    color: #000000;
}